@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url('../fonts/GraphikRegular.otf');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    src: url('../fonts/GraphikMedium.otf');
}